In [2]:
print("cross my heart")

cross my heart

## For Loops

In [3]:
range(1,11)

range(1, 11)

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
l=[1,2,3,4,5,6,]
5 in l

True

In [8]:
for i in l:
    print(i)

1
2
3
4
5
6

In [11]:
for i in range(1,11):
    print(i)
    print(i+1)
    print(type(i))

1
2
<class 'int'>
2
3
<class 'int'>
3
4
<class 'int'>
4
5
<class 'int'>
5
6
<class 'int'>
6
7
<class 'int'>
7
8
<class 'int'>
8
9
<class 'int'>
9
10
<class 'int'>
10
11
<class 'int'>

In [12]:
fruits=['apple','banana','cherry']
for j in fruits:
    print(j)

apple
banana
cherry

In [13]:
num=[1,2,3,45,7]
for i in num:
    print(i)

1
2
3
45
7

In [14]:
str="prince katiyar"
for i in str:
    print(i)

p
r
i
n
c
e

k
a
t
i
y
a
r

In [16]:
tuple=(1,345,6,7)
for i in tuple:
    print(i)

1
345
6
7

In [17]:
my_dict={'a':12,'b':5,'c':39}
for i in my_dict:
    print(i)

a
b
c

In [18]:
my_dict={'a':12,'b':5,'c':39}
for i,j in my_dict.items():
    print(i,j)

a 12
b 5
c 39

## Nested Loops

In [1]:
tuple=(1,345,6,7)
for i in tuple:
    print(i)

1
345
6
7

In [2]:
number=int(input("enter the number for which i table you want"))
for i in range(1,11):
    print(f"{number}*{i}={number*i}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [4]:
fruits=['apple','banana','cherry']
for i,index in enumerate (fruits):
    print(i,index)

0 apple
1 banana
2 cherry

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
l=[]
for i in numbers:
    if i %2==0:
        print(i)

2
4
6
8
10

In [8]:
numbers=[1,2,3,4,5,6,7,8,9,10]
l=[]
for i in numbers:
    if i %2!=0:
        print(i)

1
3
5
7
9

In [12]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [10]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [25]:
for i in range(1,4):
    for j in range(1,4):
        print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
2*1=2
2*2=4
2*3=6
3*1=3
3*2=6
3*3=9

In [18]:
colours=["red","blue","pink"]
sizes=["s","m","l"]
for colour in colours:
    for size in sizes:
        print(f"{colour} {size}")

red s
red m
red l
blue s
blue m
blue l
pink s
pink m
pink l

## While Loop