In [2]:
print("cross my heart")

cross my heart

## For Loops

In [3]:
range(1,11)

range(1, 11)

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
l=[1,2,3,4,5,6,]
5 in l

True

In [8]:
for i in l:
    print(i)

1
2
3
4
5
6

In [11]:
for i in range(1,11):
    print(i)
    print(i+1)
    print(type(i))

1
2
<class 'int'>
2
3
<class 'int'>
3
4
<class 'int'>
4
5
<class 'int'>
5
6
<class 'int'>
6
7
<class 'int'>
7
8
<class 'int'>
8
9
<class 'int'>
9
10
<class 'int'>
10
11
<class 'int'>

In [12]:
fruits=['apple','banana','cherry']
for j in fruits:
    print(j)

apple
banana
cherry

In [13]:
num=[1,2,3,45,7]
for i in num:
    print(i)

1
2
3
45
7

In [14]:
str="prince katiyar"
for i in str:
    print(i)

p
r
i
n
c
e

k
a
t
i
y
a
r

In [16]:
tuple=(1,345,6,7)
for i in tuple:
    print(i)

1
345
6
7

In [17]:
my_dict={'a':12,'b':5,'c':39}
for i in my_dict:
    print(i)

a
b
c

In [18]:
my_dict={'a':12,'b':5,'c':39}
for i,j in my_dict.items():
    print(i,j)

a 12
b 5
c 39

## Nested Loops

In [1]:
tuple=(1,345,6,7)
for i in tuple:
    print(i)

1
345
6
7

In [2]:
number=int(input("enter the number for which i table you want"))
for i in range(1,11):
    print(f"{number}*{i}={number*i}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [4]:
fruits=['apple','banana','cherry']
for i,index in enumerate (fruits):
    print(i,index)

0 apple
1 banana
2 cherry

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
l=[]
for i in numbers:
    if i %2==0:
        print(i)

2
4
6
8
10

In [8]:
numbers=[1,2,3,4,5,6,7,8,9,10]
l=[]
for i in numbers:
    if i %2!=0:
        print(i)

1
3
5
7
9

In [12]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [10]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [25]:
for i in range(1,4):
    for j in range(1,4):
        print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
2*1=2
2*2=4
2*3=6
3*1=3
3*2=6
3*3=9

In [18]:
colours=["red","blue","pink"]
sizes=["s","m","l"]
for colour in colours:
    for size in sizes:
        print(f"{colour} {size}")

red s
red m
red l
blue s
blue m
blue l
pink s
pink m
pink l

## While Loop

In [28]:
x=5
while x>2 :
    print(x)
    x -=1

5
4
3

In [31]:
x=5
while x<12 :
    print(x)
    x +=1

5
6
7
8
9
10
11

In [43]:
start=0
end=5
while start < end:
    print(start)
    start += 1

0
1
2
3
4

In [45]:
start=0
end=5
while start < end:
    print(start+10)
    start += 1

10
11
12
13
14

In [40]:
fruits=['apple','banana','cherry','pineapple']
while fruits:
    print(fruits.pop())

pineapple
cherry
banana
apple

In [42]:
x=4
while True:
    print(x)
    if x>=10:
        
        break
    x+=1

4
5
6
7
8
9
10

In [46]:
my_dict={'a':2,'b':3,'c':4}
while my_dict:
    key,value=my_dict.popitem()
    print(f"{key}:{value}")

c:4
b:3
a:2

In [48]:
num=-1
while num <=0 :
    num=int(input("enter the number"))
    
print("this is your number",num)

this is your number 4

In [49]:
x=5
while x<10:
    print(x)
    x+=1
else:
    print("condition is failed")

5
6
7
8
9
condition is failed

In [50]:
x,y=0,10
while x<5 and y>5:
    print(f"x:{x}and y:{y}")
    x+=1
    y-=1

x:0and y:10
x:1and y:9
x:2and y:8
x:3and y:7
x:4and y:6

## Break Keyword

In [52]:
x=10
while x<16:
    print(x)
    
    x+=1

10
11
12
13
14
15

In [54]:
x=10
while x<16:
    print(x)
    if x==13:
       print("bhaiya condition mil gayi")
       break
       print("this is inside the loop")
        
    
    x+=1
print("this is outside the loop")

10
11
12
13
bhaiya condition mil gayi
this is outside the loop

In [58]:
for i in range(10):
    print(i)
    if i==7:
        
        print("mil chuka hai aage mat execute karo")
        
        break
    
print("yeh to loop se bahar hai")

0
1
2
3
4
5
6
7
mil chuka hai aage mat execute karo
yeh to loop se bahar hai

In [62]:
ball_faced=0
runs_scored=0

while ball_faced<6:
    ball_faced +=1
    run=int(input(f"runscored {ball_faced}"))
    if run==-1:
        print("your inning is over")
        
        break
    
    
    runs_scored+=run

print(f" total runs scored:{runs_scored}")

your inning is over
 total runs scored:15

In [75]:
runs_scored = 0

for ball_faced in range(1, 7):  # Loop from 1 to 6 (inclusive)
    run = int(input(f"Runs scored on ball {ball_faced}: "))
    if run == -1:
        print("Your inning is over")
        break
    runs_scored += run
    

print(f"Total runs scored: {runs_scored}")

Your inning is over
Total runs scored: 19

## Continue

In [65]:
x=0
while x<10:
    x+=1
    if x==7:
        
        print("ki 7 mil gaya ab loop nahi chalega")
        continue
    print(x)

1
2
3
4
5
6
ki 7 mil gaya ab loop nahi chalega
8
9
10

In [74]:
x=0
while x<11:
    x+=1
    if x %2==0:
        
        
        continue
    print(x)

1
3
5
7
9
11

In [67]:
x=0
while x<11:
    x+=1
    if x %2!=0:
        
        
        continue
    print(x)

2
4
6
8
10

In [71]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [78]:
run_scored=0
for ball_faced in range(1,7):
    run=int(input(f"run scored{ball_faced+1}"))
    
    if run ==-1:
        print(f"this is wide ball and {ball_faced} and this will not count")
        
        
        continue
    runs_scored += run
    ball_faced += 1
print(f"total run_scored {runs_scored }")

this is wide ball and 1 and this will not count
this is wide ball and 2 and this will not count
this is wide ball and 3 and this will not count
total run_scored 82

## Pass keyword

In [80]:
x=4
if x > 5:
    pass

In [86]:
for i in range(3):
    pass
x=3
if x==3:
    print(x)

3

In [89]:
def my_func(x):
    pass
    
my_func(4)

In [94]:
class myclass:
   pass
    
    
c=myclass()

In [96]:
for i in range(20):
    print("Rakshu")

Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu
Rakshu