In [12]:
a=3456

In [9]:
a

9899228175

In [7]:
print(a)

Aariz mobin

In [11]:
print(a)
print(a)
print(a)
print(a)

Aariz mobin
Aariz mobin
Aariz mobin
Aariz mobin

In [13]:
a

3456

In [14]:
b=a+1
b

3457

In [15]:
print(a)
print(b)

3456
3457

In [16]:
a+b

6913

In [19]:
a=b=c=1
a

1

In [20]:
b

1

In [21]:
c

1

In [30]:
a,b,c=1,2,3

In [31]:
a

1

In [32]:
b

2

In [33]:
c

3

In [26]:
a,b,*c=1,2,3,4

In [27]:
a

1

In [28]:
b

2

In [29]:
c

[3, 4]

In [34]:
a=5

In [35]:
a

5

In [36]:
@a=5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (759514597.py, line 1)

In [37]:
for=3

SyntaxError: invalid syntax (879097777.py, line 1)

In [38]:
while=6

SyntaxError: invalid syntax (1964474775.py, line 1)

In [39]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [40]:
_var=6

In [41]:
_var

6

In [42]:
1var=6

SyntaxError: invalid decimal literal (1900840070.py, line 1)

In [43]:
2d=5

SyntaxError: invalid decimal literal (3848073798.py, line 1)

In [44]:
a=5
A=7

In [45]:
a

5

In [46]:
A

7

## Dynamic and Binding Type

In [47]:
a=5

In [48]:
print(a)

5

In [50]:
type(a)

int

In [49]:
a=3

In [52]:
type(a)

str

In [51]:
a="hello rakshu"

In [53]:
type(a)

str

a=[1,2,3,4,5]

In [54]:
type(a)

str

## keywords and Indetifiers

In [55]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [57]:
len(keyword.kwlist)

35

## Comments

In [58]:
# abscgd

In [68]:
""" this is my name
    df
    df
    cg
    hk """
    
print("this is my name")

this is my name

## indentation in python

In [69]:
a=3
b=6
c=9

In [70]:
print(a)
print(b)
print(c)

3
6
9

In [71]:
print(a)
print(b)
for i in range (5):
    print(i)
print(c)

3
6
0
1
2
3
4
9

In [72]:
if a==3:
    print("a is 3")
else:
    print("a is not 3")

a is 3

In [73]:
def fun():
    print("hi")

## Type conversion

In [74]:
a=5
type(a)

int

In [75]:
b='aariz'
type(b)

str

In [76]:
c=3.14
type(c)

float

In [80]:
d=str(a)
type(d)

str

In [81]:
a=5
b=input("enter a number")
print(b)

6

In [82]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [83]:
b

'6'

In [84]:
type(b)

str

In [86]:
c=int(b)

In [87]:
a+c

11

In [88]:
v="aariz"

In [89]:
l=list(v)
print(l)

['a', 'a', 'r', 'i', 'z']

In [90]:
s=set(v)
print(s)

{'r', 'z', 'a', 'i'}

In [91]:
bol=bool(v)
print(bol)

True

## print function

In [98]:
a=5,3+4j ,3.14,True,"aariz",[1,2,3]

print(a)

(5, (3+4j), 3.14, True, 'aariz', [1, 2, 3])

In [101]:
b=print(a)
type(b)

(5, (3+4j), 3.14, True, 'aariz', [1, 2, 3])

NoneType

In [102]:
print(a)

(5, (3+4j), 3.14, True, 'aariz', [1, 2, 3])

In [103]:
print(5,3+4j ,3.14,True,"aariz",[1,2,3])

5 (3+4j) 3.14 True aariz [1, 2, 3]

In [106]:
print(5,3+4j ,3.14,True,"aariz",[1,2,3] ,sep=" , ")

5 , (3+4j) , 3.14 , True , aariz , [1, 2, 3]

In [110]:
print(5,3+4j ,3.14,True,"aariz",[1,2,3],end= " : ")
print("this is a python class")

5 (3+4j) 3.14 True aariz [1, 2, 3] : this is a python class

In [4]:
number=5
if (number ==5):
    number += 1
    print("1")
    
    if number== 6:
        print("2")
else:
    print("3")

1
2

## Input

In [9]:
a=input()
print(a)

6

In [10]:
type(a)

str

In [11]:
a=input("enter value") # input function always return string
print(a)

love you eesha

In [8]:
type(a)

str

In [18]:
a,b=input("enter two numbers")

In [19]:
a

'3'

In [20]:
b

'4'

In [21]:
a,b=input("enter two numbers").split()

In [22]:
a

'5'

In [23]:
b

'6'

In [25]:
a=int(input("enter the value"))

In [26]:
a

8

In [27]:
type(a)

int

In [35]:
name="Aariz Mobin"
age=38
city="Delhi"
print("MY name is {}, my age is {} and  i live in city {}".format(name,age,city))

MY name is Aariz Mobin, my age is 38 and  i live in city Delhi

In [38]:
print(f"may name is {name},my age is{ age},and i live in city {city}")

may name is Aariz Mobin,my age is38,and i live in city Delhi

## Eval function

In [41]:
b=11
a=int(input())
print(a)
type(a)

8

int

In [42]:
b+a

19

In [46]:
a=input("enter the value you want")
b=10
result=eval(a)
print(result)
type(result)

7

int

In [47]:
result+b

17

In [49]:
a=input("enter the value you want")
b=10
result=eval(a)
print(result)
type(result)

hello world

str

In [50]:
a=input("enter the value you want")
b=10
result=eval(a)
print(result)
type(result)

[1, 2, 3, 67]

list

In [52]:
a=input("enter the value you want")
b=10
result=eval(a)
print(result)
type(result)

(1, 2, 3, 4)

tuple

In [53]:
a=input("enter the value you want")
b=10
result=eval(a)
print(result)
type(result)

{1, 2, 3, 4}

set

In [55]:
a=input("enter the value you want")
b=10
result=eval(a)
print(result)
type(result)

74

int

In [57]:
a=eval ("2+3+4")
print(a)
type(a)

9

int

In [58]:
x=7
eval("x+5")

12

In [61]:
a=eval("len('hello world')")
print(a)

11

## The eval() function in Python is used to evaluate a string as a Python expression. It parses the expression passed to this method and executes Python expression(s) passed as a string.

When to use:

    Dynamic calculations: When you need to perform calculations based on user input or dynamic data.
    Config file parsing: To parse configuration files containing Python expressions.
    Scientific computing: To evaluate mathematical expressions in scientific computing.

Why to use:

    Flexibility: Allows for dynamic evaluation of expressions.
    Convenience: Simplifies parsing and evaluating complex expressions.

Data types expected:

    String: The input to eval() should be a string containing a valid Python expression.
    Expression: The string should contain a valid Python expression, such as arithmetic operations, function calls, or variable assignments.

Example usage:

    Simple calculation: eval("2 + 3") # returns 5
    Dynamic calculation: user_input = "2 * 3"; eval(user_input) # returns 6
    Config file parsing: config = "x = 5"; eval(config); print(x) # prints 5

Important notes:

    Security risk: Be cautious when using eval() with user-supplied input, as it can evaluate any Python expression, potentially leading to security vulnerabilities.
    Performance: eval() can be slower than other methods, like using ast.literal_eval() for simple expressions

In [62]:
# simple calculatioion 
eval("2+4")

6

In [63]:
# Dynamic calculation
user_input="2*7" 
eval(user_input)

14