In [1]:
print("i have to clear my account")

i have to clear my account

In [2]:
d={}
type(d)

dict

In [3]:
d={"name":"aariz","age":24,"gender":"male"}
type(d)

dict

In [4]:
dict1=dict()
type(dict1)

dict

In [5]:
dict1=dict({"name":"aariz","age":24,"gender":"male"})
type(dict1)

dict

In [6]:
dict1=dict("name":"aariz","age":24,"gender":"male")
type(dict1)

SyntaxError: invalid syntax (2861166674.py, line 1)

In [7]:
dict1=dict(name="aariz",age=24,gender="male")
type(dict1)

dict

In [8]:
dict1

{'name': 'aariz', 'age': 24, 'gender': 'male'}

In [20]:
dict2=[('name','aariz'),('age',25),('grade',1),('city','delhi' )]

dict3=dict(dict2)
dict3
type(dict3)

dict

In [12]:
l1=[1,2,3,]
l2=[4,5,7]
dict(zip(l1,l2))

{1: 4, 2: 5, 3: 7}

In [22]:
# fromkeys()
keys=['name','age','city']
my_dict=dict.fromkeys(keys,'unknown')
my_dict

{'name': 'unknown', 'age': 'unknown', 'city': 'unknown'}

In [13]:
dict1={'name':'aariz','age':34,'city':'delhi'}
dict1

{'name': 'aariz', 'age': 34, 'city': 'delhi'}

In [14]:
dict1['gender']='male'
dict1

{'name': 'aariz', 'age': 34, 'city': 'delhi', 'gender': 'male'}

In [16]:
dict1={'name':'aariz','age':34,'city':'delhi','age':35}
dict1

{'name': 'aariz', 'age': 35, 'city': 'delhi'}

# Immutable objets (Allowed as Keys):
Integers

strings

tuples(if they contain only immutable item)

Mutable objects(Not allowed as keys):

Lists

Sets

Dictionaries

In [23]:
dict1={'name':'aariz',(1,2,3):25,'city':'Delhi'}

In [25]:
dict1={'name':'aariz',[1,2,3]:25,'city':'Delhi'}

TypeError: unhashable type: 'list'

In [27]:
dict1={'name':'aariz',(1,2,3):25,'city':'Delhi',2:3,6:7,'is_student':True}
dict1

{'name': 'aariz',
 (1, 2, 3): 25,
 'city': 'Delhi',
 2: 3,
 6: 7,
 'is_student': True}

## Dictionary method

In [28]:
dict1={'name':'aariz','age':25,'city':'Delhi'}

In [30]:
dict1.keys()

dict_keys(['name', 'age', 'city'])

In [32]:
dict1.values()

dict_values(['aariz', 25, 'Delhi'])

In [31]:
for i in dict1:
    print(i)

name
age
city

In [33]:
for i in dict1.values():
    print(i)

aariz
25
Delhi

In [34]:
for i in dict1.keys():
    print(i)

name
age
city

In [35]:
dict1.items()

dict_items([('name', 'aariz'), ('age', 25), ('city', 'Delhi')])

In [36]:
for i in dict1.items():
    print(i)

('name', 'aariz')
('age', 25)
('city', 'Delhi')

In [41]:
dict1.get('name')

'aariz'

In [44]:
dict1.get('gender')

In [84]:
dict1.update()

dict1['name','class']='aariz',2
dict1

{'name': 'ariz', 'age': 25, 'city': 'xyz', ('name', 'class'): ('aariz', 2)}

In [85]:
dict1.update({'name1':'sohan','class':2})
dict1

{'name': 'ariz',
 'age': 25,
 'city': 'xyz',
 ('name', 'class'): ('aariz', 2),
 'name1': 'sohan',
 'class': 2}

In [88]:
dict1.pop('name','class')

'class'

In [89]:
dict1

{'age': 25,
 'city': 'xyz',
 ('name', 'class'): ('aariz', 2),
 'name1': 'sohan',
 'class': 2}

In [90]:
dict1.popitem()

('class', 2)

In [91]:
dict1

{'age': 25, 'city': 'xyz', ('name', 'class'): ('aariz', 2), 'name1': 'sohan'}

In [53]:
dict1.copy()

{'age': 25, 'city': 'Delhi', 'name1': 'sohan'}

In [54]:
dict1

{'age': 25, 'city': 'Delhi', 'name1': 'sohan'}

In [92]:
dict2=dict1.copy()
dict2['place']="python"
dict2

{'age': 25,
 'city': 'xyz',
 ('name', 'class'): ('aariz', 2),
 'name1': 'sohan',
 'place': 'python'}

In [93]:
dict1

{'age': 25, 'city': 'xyz', ('name', 'class'): ('aariz', 2), 'name1': 'sohan'}

## Dictionary operators and functions

In [60]:
dict1={'name':'aariz','age':34,'city':'delhi'}

In [61]:
"name" in dict1

True

In [63]:
"city" in dict1

True

In [94]:
'city' not in dict1

False

In [65]:
dict1={'a':1,'b':2}
dict2={'a':1,'b':2}
dict3={'a':1,'b':2}
dict1==dict2

True

In [68]:
dict1={'a':1,'b':2}
dict1['a']=10
dict1

{'a': 10, 'b': 2}

In [69]:
dict1

{'a': 10, 'b': 2}

In [70]:
len(dict1)

2

In [71]:
dict1={'name':'aariz','age':34,'city':'delhi'}
print(any(dict1))

True

In [73]:
dict1={'name':'','age':'','city':''}

print(any(dict1.values()))

False

In [74]:
dict1={'name':'ariz','age':'','city':''}

print(any(dict1.values()))

True

In [75]:
dict1={'name':'ariz','age':'','city':''}

print(all(dict1.values()))

False

In [76]:
dict1={'name':'ariz','age':'','city':''}

print(all(dict1))

True

In [77]:
dict1={'name':'ariz','age':25,'city':'xyz'}

print(all(dict1.values()))

True

In [78]:
max(dict1)

'name'

In [79]:
min(dict1)

'age'

In [81]:
list(reversed(dict1))

['city', 'age', 'name']

In [82]:
list(reversed(dict1.values()))

['xyz', 25, 'ariz']

In [83]:
sorted(dict1)

['age', 'city', 'name']

## Nested dictionary

In [125]:
student_info={
    'student_1':{
        "name":"aariz",
        "age":34,
        "gender":"male",
        "marks":{
            "maths":88,
            "science":89,
            "english":100,
        }
    },
     'student_2':{
        "name":"sohan",
        "age":25,
        "gender":"male",
        "marks":{
            "maths":90,
            "science":91,
            "english":95,
        }
    }
}

In [126]:
student_info["student_1"]

{'name': 'aariz',
 'age': 34,
 'gender': 'male',
 'marks': {'maths': 88, 'science': 89, 'english': 100}}

In [127]:
student_info["student_1"]["name"]

'aariz'

In [128]:
student_info["student_1"]["marks"]

{'maths': 88, 'science': 89, 'english': 100}

In [130]:
student_info["student_1"]["marks"]["science"]

89

In [131]:
student_info["student_1"]["marks"]["science"]=94

In [132]:
student_info["student_1"]["marks"]["science"]

94

In [133]:
student_info["student_2"]

{'name': 'sohan',
 'age': 25,
 'gender': 'male',
 'marks': {'maths': 90, 'science': 91, 'english': 95}}

In [134]:
student_info["student_1"]["marks"]

{'maths': 88, 'science': 94, 'english': 100}

In [136]:
student_info["student_2"]["marks"]["science"]

91

In [137]:
for student_id, details in student_info.items():
    print(student_id,details)

student_1 {'name': 'aariz', 'age': 34, 'gender': 'male', 'marks': {'maths': 88, 'science': 94, 'english': 100}}
student_2 {'name': 'sohan', 'age': 25, 'gender': 'male', 'marks': {'maths': 90, 'science': 91, 'english': 95}}

In [145]:
for student_id, details in student_info.items():
    
    print(student_id)
    print(details["name"])
    print(details["age"])


    for subject ,marks in details['marks'].items():
        print(f"{subject}:{marks}")

student_1
aariz
34
maths:88
science:94
english:100
student_2
sohan
25
maths:90
science:91
english:95

In [146]:
for subject ,marks in details['marks'].items():
    print(f"{subject}:{marks}")

maths:90
science:91
english:95

## Dictionary Comprehension

In [149]:
square={}
for i in range(1,6):
    square[i]=i*i
    
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [151]:
square={ i:i*i for i in range(1,6)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [154]:
square={ i:i*i for i in range(1,6) if i%2==0}
square

{2: 4, 4: 16}

In [155]:
square={ i:i*i for i in range(1,6) if i%2!=0}
square

{1: 1, 3: 9, 5: 25}

In [158]:
original={'apple':2,'banana':4,'cherry':10}
filtered={key:value for key,value in original.items() if value>2}
filtered

{'banana': 4, 'cherry': 10}

In [159]:
fruits=['apple','banana','cherry']
f={fruit.upper():len(fruit)for fruit in fruits }
f

{'APPLE': 5, 'BANANA': 6, 'CHERRY': 6}

Count the frequency of characters in a string

In [161]:
str="mississippi"
for i in str:
     print(i)

m
i
s
s
i
s
s
i
p
p
i

In [166]:
str="mississippi"
dic={}
for i in str:
    dic[i]=dic.get(i,0)+1
print(dic)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

invert a dictionary

In [172]:
input_dict={'a':1,'b':2,'c':3}

inverted={v:k for k,v in input_dict.items()}
print(inverted)

{1: 'a', 2: 'b', 3: 'c'}

Remove keys with empty values from a dictionary

In [175]:
input_dict={'a':1,'b':2,'c':3,'d':None}
removes={k:v for k,v in input_dict.items() if v}
removes

{'a': 1, 'b': 2, 'c': 3}

In [176]:
input_dict={'a':1,'b':2,'c':3,'d':None}
removes={k:v for k,v in input_dict.items() if k}
removes

{'a': 1, 'b': 2, 'c': 3, 'd': None}

Check if a dictionary is a subset of another dictionary

In [180]:
def check(dict1,dict2):
    return all(i in dict2.items() for i in dict1.items())
dict1={'a':1,'b':2}
dict2={'a':1,'b':2,'c':3}

check(dict1,dict2)

True