In [56]:
print("eesha is my dall")

eesha is my dall

In [57]:
x=10
y=15

if x>y:
    print(x)
    
else:
    print(y)

15

In [58]:
#fun definition
def large_value(x,y):
    if x>y:
        return x
    else:
        return y
# fun calling  
large_value(15,11)

15

In [59]:
x=15
x=20
if x %2==0:
    print("x is even",x)
else:
    print("yis even",y)

x is even 20

In [60]:
def check_even(x,y):
    if x%2==0:
        return x
    else:
        return y
    
check_even(13,22)

22

## Benifit & using a function

' Code Modularity

. Code Readibility

. Code Reusability

In [61]:
def calculate_area(lenght,width):
    """
    Calculate the area of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.

    Returns:
    float: The area of the rectangle.
    """
    return lenght*width
calculate_area(23,19)

437

In [62]:
def calculate_area(lenght,width):
    """
    Calculate the area of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.

    Returns:
    float: The area of the rectangle.
    """
    return lenght*width


def calculate_perimeter(lenght, width):
    """
    Calculate the perimeter of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.

    Returns:
    float: The perimeter of the rectangle.
    """
    return 2*(lenght*width)

def print_shape(length, width):
    """
    Print the area and perimeter of a rectangle.

    Parameters:
    length (float): The length of the rectangle.
    width (float): The width of the rectangle.
    """
    area=calculate_area(length,width)
    perimeter=calculate_perimeter(length,width)
    
    print(f"Rectangle with length {length} and width {width}:")
    print(f"Area:{area}")
    print(f"Perimeter:{perimeter}")
    
print_shape(23,19)

Rectangle with length 23 and width 19:
Area:437
Perimeter:874

## Parameters vs Arguments

In [63]:
def mul(x,y):# this parameter
    return x*y
mul(5,6)# Arguments

30

In [64]:
def mul(x):
    return x*y
mul(5,6)

TypeError: mul() takes 1 positional argument but 2 were given

In [11]:
def mul(x,y=6):# this parameter
    return x*y
mul(5)# Arguments

30

## Types of Arguments

In [16]:
# positional arguments
def fun(name,age,gender):
    print("name:",name)
    print("age:",age)
    print("gender:",gender)
    
fun("Eesha",34,'male')

name: Eesha
age: 34
gender: male

In [18]:
def divide(x,y):
    return x/y
divide(20,5)

4.0

In [19]:
#keyword arguments
def fun(name,age,gender):
    print("name:",name)
    print("age:",age)
    print("gender:",gender)
    
fun(age=24, gender='male',name="Eesha",)

name: Eesha
age: 24
gender: male

In [20]:
def divide(x,y):
    return x/y
divide(y=5,x=20)

4.0

In [21]:
# default arguments
def fun(name="aariz",age=34,gender="male"):
    print("name:",name)
    print("age:",age)
    print("gender:",gender)
    
fun()

name: aariz
age: 34
gender: male

In [29]:
def fun(name="aariz",age=34,gender="male"):
    print("name=",name)
    print("age=",age)
    print("gender=",gender)
    
fun("eesha",8,"female")

name= eesha
age= 8
gender= female

In [23]:
# variable length arguments
def sum_all(*args):
    return sum(args)

sum_all(4,5)

9

In [25]:
def sum_all(*p):
    return sum(p)

sum_all(4,5,6,7,8,9,3,4,5,6,)

57

In [27]:
def strings(*str):
    return " ".join(str)

strings("Hello","world","this","is","python","class")

'Hello world this is python class'

In [28]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
info(name="Eesha", age=34, gender="male")

name: Eesha
age: 34
gender: male

## Print vs Return function

In [33]:
def fun():
    print("this is my python class")
    
f1=fun()
print(f1)
type(f1)

this is my python class
None

NoneType

In [34]:
def fun():
    return "this is my python class"
    
f1=fun()
print(f1)
type(f1)

this is my python class

str

In [36]:
def fun(a):
    print(a)
    
f1=fun(4)
print(f1)
type(f1)

4
None

NoneType

In [37]:
def fun(a):
    return a
    
f1=fun(4)
print(f1)
type(f1)

4

int

In [38]:
def fun(a):
    pass
    
a=4   
f1=fun(4)
print(f1)
type(f1)
print(a)

None
4

In [40]:
def fun(a):
    return a
    print("this is my class")

    
  
f1=fun(4)
print(f1)

4

In [41]:
def fun(a):
    print(a)
    print("this is my class")

    
  
f1=fun(4)
print(f1)

4
this is my class
None

In [44]:
def fun1():
    print("hello","world","how are you")
    
fun1()

hello world how are you

In [51]:
def fun1():
    return  "hello","world !" ,"how are you"
    
fun1()

('hello', 'world !', 'how are you')

In [50]:
def fun1():
    return " ".join("hello","world","how are you")
    
fun1()

TypeError: str.join() takes exactly one argument (3 given)

In [49]:
def fun1(str):
    return " ".join(str)
str="hello","world","how are you"   
fun1(str)

'hello world how are you'

## Scope of function

In [1]:
def my_fun():
    x=10
    print(x)
    
my_fun()

10

In [2]:
def my_fun():
    x=10
    
    print(x)
    
my_fun()

print(x)

10

NameError: name 'x' is not defined

In [4]:
def my_fun():
    x=10
    x+=1
    
    print(x)
    
my_fun()

11

In [6]:
# enclosing scope
def my_fun1():
    x=10
    
    def my_fun():
    
      print(x)
    
    my_fun()
   
my_fun1()

10

In [10]:
y=20
def my_fun1():
    x=10
    print(x)
    y+=1
    print(y)
    

   
my_fun1()

10

UnboundLocalError: cannot access local variable 'y' where it is not associated with a value

In [12]:
#global variable
y=20
def my_fun1():
    x=10
    print(x)
    global y
    y+=1
    print(y)
    
my_fun1()

10
21

In [15]:
def my_fun(s):
    
    l=len(s)
    print(s)
    print(l)
    
my_fun("aariz")

aariz
5

## Global & Nonlocal Keyword

In [2]:
y=20 # global variable
def my_fun1():
    x=10
    print(x)
    global y
    y+=1
    
    print(y)
    
my_fun1()

10
21

In [3]:
# Non local keyword
def my_fun1():
    x=10
    def my_fun():
        y=20
        nonlocal x
        x+=1
        print(x)
        
        print(y)
        
    my_fun()
my_fun1()

11
20

In [10]:
## LEGB Rule: local, enclosing ,global, built in

def outer_fun():
    x="enclosing"
    
    def inner_fun():
        x="local"
        print(x)
        
    inner_fun()
    print(x)

outer_fun()

local
enclosing

In [12]:
def outer_fun():
    x=4
    
    def inner_fun():
        x=6
        print(x)
        
    inner_fun()
    print(x)

outer_fun()

6
4

In [13]:
x=10
def outer_fun():
    x=4
    
    def inner_fun():
        x=6
        print(x)
        
    inner_fun()
    print(x)

outer_fun()
print(x)

6
4
10

In [9]:
x=10
def outer_fun():
  
    
    def inner_fun():
        
        print(x)
        
    inner_fun()
    print(x)

outer_fun()
print(x)

10
10
10

## flow of function

In [14]:
def add(a,b):
    result=a+b
    return result

sum_result=add(3,5)
print(sum_result)

8

In [15]:
def classify_number(num):
    if num>0:
        return "positive"
    elif num<0:
        return "negative"
    else:
        return "Zero"
    
print(classify_number(10))
print(classify_number(-5))
print(classify_number(0))

positive
negative
Zero

In [18]:
def print_numbers():
    for i in range(1,11):
        if i %2 ==0: # skip even numbers
            continue
        if i>7:
            break
        print(i)
        
print_numbers()

1
3
5
7

## Nested function

In [46]:
def outer_fun(outer):
    
    def inner_fun(inner):
        result=outer+inner
        return result
    result_inner=inner_fun(15)
    
    return result_inner

result_outer=outer_fun(10)
print(result_outer)

25

In [21]:
def sum_of_cubes(a,b):
    def cube(x):
        return x*x*x
    
    def add(x,y):
        return x+y
    
    return add(cube(a),cube(b))
    
    
    
result=sum_of_cubes(2,3)
print(result)

35

In [51]:
## Functions are 1st class citizen
def hello(a):
    return a**2

hello(3)
type(hello)

function

In [52]:
a=[1,2,3,4,]
a[3]

#h=hello
#h(3)

4

In [30]:
a=[1,2,3,4, h]
a[-1](3)

9

In [44]:
## function can be return function
def hello():
    def hello1(a):
        return a**2
    return hello1
hello()(5)

25

In [77]:
## funcction as argument
def operation(a,b,oper):
    return oper(a,b)
    
    def mul(a,b):
       
        return a*b
    
    def add(a,b):
        
        return a+b
  
operation(2,3,add)

5

## Lambda function

No name:anonymous function

No Return Keyword

No syntax

No Reuse

One line only

In [56]:
def fun(a):
    return a**2
fun(5)

25

In [57]:
x=lambda x: x**2
x(4)

16

In [58]:
a=lambda x,y:x+y
a(4,5)

9

In [59]:
a=lambda x,y:x+y
a("aariz","mobin")

'aarizmobin'

In [61]:
is_even=lambda x:x%2==0
is_even(4)

True

## map

In [63]:
#map(function,iterable)
lambda x:x**2
l=[1,2,3,4,5,6 ]

In [64]:
map(lambda x:x**2,l)

In [65]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36]

In [10]:
def double(x):
    return x*2

map(double,l)
list(map(double,l))

[2, 4, 6, 8, 10]

In [11]:
strings=['hello','world','python']
def to_upper(s):
    return s.upper()

In [12]:
map(to_upper,strings)

tuple(map(to_upper,strings))

('HELLO', 'WORLD', 'PYTHON')

In [13]:
def to_capitalize(s):
    return s.capitalize()

tuple(map(to_capitalize,strings))

('Hello', 'World', 'Python')

## filter

In [2]:
# fliter(function,iterable)
l=[1,2,3,4,5]

list(filter(lambda x:x%2==0,l))

[2, 4]

In [6]:
def even(a):
    return a%2==0

In [7]:
list(filter(even,l))

[2, 4]

In [9]:
words=['apple','orange','banana','cherry','dates']

list(filter(lambda word: len(word)>5,words))

['orange', 'banana', 'cherry']

In [14]:
x=lambda word:len(words)>5

print(x)

<function <lambda> at 0x000001E0FAD0B880>

## Reduce

In [15]:
## reduce(function,iterable)

from functools import reduce

In [16]:
l=[1,2,3,4,5]

l

[1, 2, 3, 4, 5]

In [17]:
reduce(lambda x,y:x+y,l)

15

In [18]:
def sum_1(x,y):
    return x+y

In [19]:
reduce(sum_1,l)

15

In [20]:
num=[1,2,4,56,76,43,79]

def max_value(x,y):
    return x if x>y else y

reduce(max_value,num)

79

In [21]:
reduce(lambda x,y:x if x>y else y,num)

79

## Iterator and Iterables

In [22]:
l=[1,2,34,23,56,3]
for i in l:
    print(i)

1
2
34
23
56
3

In [23]:
t=(11,23,5,9,32,23)
for i in t:
    print(i)

11
23
5
9
32
23

In [24]:
ins=32323
for i in ins:
    print(i)

TypeError: 'int' object is not iterable

In [25]:
lis=[i for i in range(100000)]
import sys
print(sys.getsizeof(lis))

800984

In [27]:
lis=range(1000000000)
import sys
print(sys.getsizeof(lis))

48

In [28]:
l=[1,2,34,23,56,3]
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
l=[1,2,34,23,56,3]
"__iter__"in dir(l)
"__next__"in dir(l)

False

In [30]:
"__iter__"in dir(3)

False

In [33]:
t=l=(1,2,34,23,56,3)
"__iter__"in dir(t)
"__next__"in dir(t)

False

In [34]:
l=[1,2,34,23,56,3]
l1=iter(l)
"__iter__"in dir(l)
"__next__"in dir(l1)

True

In [38]:
next(l1)

23

## Custom for loop

In [39]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
l=[1,233,4,567,54]
for i in l:
    print(i)

1
233
4
567
54

In [45]:
num=[12,23,224,32,3]
def Myloop(num):
    iterator=iter(num)
    print(next(iterator))
    while True:
        try:
            
            print(next(iterator))
        except StopIteration:
            break
    
Myloop(num)

12
23
224
32
3

In [46]:
Myloop((1,2,3,45,23,6))

1
2
3
45
23
6

In [47]:
Myloop(range(1,6))

1
2
3
4
5

In [48]:
Myloop("aarizmobin")

a
a
r
i
z
m
o
b
i
n

## Custom Range Function

In [51]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [52]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [53]:
class Myrange:
    def __init__(self,start,stop,step):
        self.start=start
        self.stop=stop
        self.step=step
        
    
    def __iter__(self):
        return self
    def __next__(self):
        if self.start<self.stop:
            value=self.start
            self.start=self.start+self.step
            return value
        else:
            raise StopIteration

In [55]:
r=Myrange(1,10,2)
for i in r:
    print(i)

1
3
5
7
9

In [65]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

## Generator Function

In [70]:
for i in range(10):
     print(i)

0
1
2
3
4
5
6
7
8
9

In [72]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
def fibo(n):
    a,b =0,1
    for _ in range(n):
        a,b=b,a+b
        
    return a
n=10
fibo(n)

55

In [74]:
def fibo(n):
    l=[]
    a,b =0,1
    for _ in range(n):
        
        l.append(a)
        a,b=b,a+b
        
    return l
n=10
fibo(n)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [75]:
def fibo(n):
    a,b =0,1
    
    while a<n:
        yield a
        
        a,b=b,a+b
    

fibo(n)

In [76]:
def fibo(n):
    a,b =0,1
    
    while a<n:
        yield a
        
        a,b=b,a+b
    

for i in fibo(10):
    print(i)

0
1
1
2
3
5
8

## Return Vs Yield

In [89]:
def mul():
    yield 1
    yield 2
    yield 3
    

for i in mul():
    print(i)

1
2
3

In [93]:
def mul():
    yield 1
    yield 2
    yield 3
    
a=mul()
print(next(a))
print(next(a))
print(next(a))

1
2
3

In [8]:
def re(a,b):
    return a,b
   
x=re(2,3)
print(x)
x1=re(4,5)
print(x1)

(2, 3)
(4, 5)

## Decorators

In [5]:
def deco(func):
    def fun():
        print("@@@%%%####")
        
        func()
        
        print("###########")
        
    return fun

In [6]:
@deco
def hello():
    print("hello people")
    print("how r you ?")
    
hello()

@@@%%%####
hello people
how r you ?
###########

In [8]:
@deco
def hello2():
    print("hello all")
    
    
hello2()

@@@%%%####
hello all
###########

In [12]:
import time
def time_deco(func):
    def kaam():
        start_time=time.time()
        result=func()
        end_time=time.time()
        print(f"execution time {end_time-start_time:.5f}")
        return result
    return kaam

In [13]:
@time_deco

def base():
    print("start execution")
    time.sleep(2)
    
base()

start execution
execution time 2.00107