In [1]:
a = [1,23,3]

a

[1, 23, 3]

In [2]:
type(a)

list

In [3]:
b= list()
type(b)

list

In [6]:
c=list((1,23,3)) # type conversion

type(c)

list

In [7]:
a= [1,23,3,4,5,6,7,8,9,10]  # homogenous list

In [8]:
type(a)

list

In [9]:
b =[1, "2", (1,2,3),4+4j ,True]  # heterogenous list

In [10]:
type(b)

list

In [16]:
c =[1, "2", (1,2,3),4+4j ,True , [1,2,3,34,5]]   # nested list

In [17]:
type(c)

list

In [19]:
b[5]  # indexing 

b[0:3]

[1, '2', (1, 2, 3)]

In [28]:
b[4::-2]#slicing

[True, (1, 2, 3), 1]

In [30]:
b[::-1]# reverse slicing

[[1, 2, 3, 34, 5], True, (4+4j), (1, 2, 3), '2', 1]

In [36]:
b[5][::-1]

[5, 34, 3, 2, 1]

## operators

In [41]:
l1 =[1,2,34,]
l2 =[1,56,7]

In [75]:
l1+l2

[1, 2, 34, 1, 56, 7]

In [43]:
l2+l1

[1, 56, 7, 1, 2, 34]

In [44]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [45]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [46]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [47]:
# repetition operation 

a =3
l1

[1, 2, 34]

In [48]:
l1*a

[1, 2, 34, 1, 2, 34, 1, 2, 34]

In [49]:
if 35 not in l1:
    print("yes"
          )
else:
    print("no")

yes

In [50]:
# looping 

l1
for i in l1:   
    print(i)

1
2
34

In [59]:
i =0
while i <len(l1):
    print(l1[i])
    i = i+1

1
2
34

## functions

In [60]:
l1

[1, 2, 34]

In [61]:
len(l1)

3

In [62]:
max(l1)

34

In [63]:
min(l1)

1

In [64]:
sum(l1)

37

In [67]:
sorted(l1)

[1, 2, 34]

In [68]:
l3 = [3,5,2,6,7,8,64]
sorted(l3)
l3

[3, 5, 2, 6, 7, 8, 64]

In [69]:
sortl=sorted(l3)
sortl

[2, 3, 5, 6, 7, 8, 64]

In [70]:
reversed(l3)

In [71]:
L=list(reversed(l3))

In [73]:
print(L)

[64, 8, 7, 6, 2, 5, 3]

## list modification

In [76]:
l= [1,2,3,4,5,[6,3,4,5]]

In [80]:
#append:it add element in last
l.append("Aariz")
l

[1, 2, 3, 4, 5, [6, 3, 4, 5], 'Aariz', 'Aariz', 'learners', 'Aariz']

In [82]:
l.append("learners")
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners']

In [87]:
# extend : add more value or element at last 
l.extend([4,5])   # you have to pass the multiple value in list only 
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [88]:
# insert : add a element at any specific position 

l.insert(6,"Aariz Mobin")
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [89]:
# to remove values
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [92]:
l.remove('Aariz')
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [93]:
l.pop()# it removes last element in list
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4]

In [96]:
l.pop(8)# it revoes elements of specific positio through index number in the list
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4]

In [97]:
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4]

In [98]:
l.clear()

In [99]:
l

[]

In [102]:
del l

In [104]:
l.append

NameError: name 'l' is not defined

## shallow and deep copy()

In [105]:
# shallow copy ; Creates a new list object with the same elements, but does not create copies of nested objects.

In [106]:
import copy
lst = [1,[2,34],5]
shallow =lst.copy()
shallow[1][1]=99

In [107]:
lst

[1, [2, 99], 5]

In [108]:
shallow

[1, [2, 99], 5]

In [109]:
l = [1,2,[4,5,6],7]
import copy
s=l.copy()

In [110]:
l

[1, 2, [4, 5, 6], 7]

In [111]:
s[2][2]=99

In [112]:
l

[1, 2, [4, 5, 99], 7]

In [116]:
l1=[1,2,[4,5,6],7]

In [117]:
deepcopy=copy.deepcopy(l)

In [118]:
deepcopy[2][2]=100

In [119]:
l

[1, 2, [4, 5, 6], 7]

In [120]:
deepcopy

[1, 2, [4, 5, 100], 7]

## List Comprehension