In [1]:
a = [1,23,3]

a

[1, 23, 3]

In [2]:
type(a)

list

In [3]:
b= list()
type(b)

list

In [6]:
c=list((1,23,3)) # type conversion

type(c)

list

In [7]:
a= [1,23,3,4,5,6,7,8,9,10]  # homogenous list

In [8]:
type(a)

list

In [9]:
b =[1, "2", (1,2,3),4+4j ,True]  # heterogenous list

In [10]:
type(b)

list

In [16]:
c =[1, "2", (1,2,3),4+4j ,True , [1,2,3,34,5]]   # nested list

In [17]:
type(c)

list

In [19]:
b[5]  # indexing 

b[0:3]

[1, '2', (1, 2, 3)]

In [28]:
b[4::-2]#slicing

[True, (1, 2, 3), 1]

In [30]:
b[::-1]# reverse slicing

[[1, 2, 3, 34, 5], True, (4+4j), (1, 2, 3), '2', 1]

In [36]:
b[5][::-1]

[5, 34, 3, 2, 1]

## operators

In [41]:
l1 =[1,2,34,]
l2 =[1,56,7]

In [75]:
l1+l2

[1, 2, 34, 1, 56, 7]

In [43]:
l2+l1

[1, 56, 7, 1, 2, 34]

In [44]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [45]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [46]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [47]:
# repetition operation 

a =3
l1

[1, 2, 34]

In [48]:
l1*a

[1, 2, 34, 1, 2, 34, 1, 2, 34]

In [49]:
if 35 not in l1:
    print("yes"
          )
else:
    print("no")

yes

In [50]:
# looping 

l1
for i in l1:   
    print(i)

1
2
34

In [59]:
i =0
while i <len(l1):
    print(l1[i])
    i = i+1

1
2
34

## functions

In [60]:
l1

[1, 2, 34]

In [61]:
len(l1)

3

In [62]:
max(l1)

34

In [63]:
min(l1)

1

In [64]:
sum(l1)

37

In [67]:
sorted(l1)

[1, 2, 34]

In [68]:
l3 = [3,5,2,6,7,8,64]
sorted(l3)
l3

[3, 5, 2, 6, 7, 8, 64]

In [69]:
sortl=sorted(l3)
sortl

[2, 3, 5, 6, 7, 8, 64]

In [70]:
reversed(l3)

In [71]:
L=list(reversed(l3))

In [73]:
print(L)

[64, 8, 7, 6, 2, 5, 3]

## list modification

In [76]:
l= [1,2,3,4,5,[6,3,4,5]]

In [80]:
#append:it add element in last
l.append("Aariz")
l

[1, 2, 3, 4, 5, [6, 3, 4, 5], 'Aariz', 'Aariz', 'learners', 'Aariz']

In [82]:
l.append("learners")
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners']

In [87]:
# extend : add more value or element at last 
l.extend([4,5])   # you have to pass the multiple value in list only 
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [88]:
# insert : add a element at any specific position 

l.insert(6,"Aariz Mobin")
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [89]:
# to remove values
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [92]:
l.remove('Aariz')
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4,
 5]

In [93]:
l.pop()# it removes last element in list
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4]

In [96]:
l.pop(8)# it revoes elements of specific positio through index number in the list
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4]

In [97]:
l

[1,
 2,
 3,
 4,
 5,
 [6, 3, 4, 5],
 'Aariz Mobin',
 'Aariz Mobin',
 'Aariz',
 'learners',
 'learners',
 4,
 5,
 4,
 5,
 4]

In [98]:
l.clear()

In [99]:
l

[]

In [102]:
del l

In [104]:
l.append

NameError: name 'l' is not defined

## shallow and deep copy()

In [105]:
# shallow copy ; Creates a new list object with the same elements, but does not create copies of nested objects.

In [106]:
import copy
lst = [1,[2,34],5]
shallow =lst.copy()
shallow[1][1]=99

In [107]:
lst

[1, [2, 99], 5]

In [108]:
shallow

[1, [2, 99], 5]

In [109]:
l = [1,2,[4,5,6],7]
import copy
s=l.copy()

In [110]:
l

[1, 2, [4, 5, 6], 7]

In [111]:
s[2][2]=99

In [112]:
l

[1, 2, [4, 5, 99], 7]

In [116]:
l1=[1,2,[4,5,6],7]

In [117]:
deepcopy=copy.deepcopy(l)

In [118]:
deepcopy[2][2]=100

In [119]:
l

[1, 2, [4, 5, 6], 7]

In [120]:
deepcopy

[1, 2, [4, 5, 100], 7]

## List Comprehension

In [121]:
s = []
for i in range(11):
    s.append(i**2)

In [122]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [124]:
s= [i**2 for i in range(11)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [125]:
s=[i**2 for  i in range(10) if i %2 ==0]
s

[0, 4, 16, 36, 64]

In [127]:
s=[i**2 for  i in range(10) if i %2 !=0]
s

[1, 9, 25, 49, 81]

## sorted and sort

In [138]:
l = [13,2,31,4,4,5]
l.sort()

In [139]:
l

[2, 4, 4, 5, 13, 31]

In [140]:
l = [13,2,31,4,4,5]
l1=l.sort()

In [143]:
l1

In [144]:
l = [13,2,31,4,4,5]
l1=l.sort(reverse=True)

In [146]:
l

[31, 13, 5, 4, 4, 2]

In [153]:
lst=[1,2,3,3,532,232,2,43,43,53,54,53,434,3,7]

In [154]:
sort_lst=sorted(lst)

In [155]:
sort_lst

[1, 2, 2, 3, 3, 3, 7, 43, 43, 53, 53, 54, 232, 434, 532]

In [156]:
lst

[1, 2, 3, 3, 532, 232, 2, 43, 43, 53, 54, 53, 434, 3, 7]

In [157]:
sort_lst=sorted(lst,reverse=True)

In [158]:
sort_lst

[532, 434, 232, 54, 53, 53, 43, 43, 7, 3, 3, 3, 2, 2, 1]

## Zip and Enumerate

In [1]:
l1=[1,2,3]
l2=[4,5,6]

In [7]:
x=zip(l1,l2)
print(list(x))

[(1, 4), (2, 5), (3, 6)]

In [8]:
l1=[1,2,3]
l2=[4,5,6]

In [9]:
a=zip(l1,l2)
print(tuple(a))

((1, 4), (2, 5), (3, 6))

In [10]:
l1=[1,2,3]
l2=[4,5,6]

In [12]:
c=zip(l1,l2)

print(dict(c))

{1: 4, 2: 5, 3: 6}

In [13]:
l1=(1,3,6)
l2=(4,7,9)

y=zip(l1,l2)

print(dict(y))

{1: 4, 3: 7, 6: 9}

In [14]:
l1=(1,3,6)
l2=(4,7,9)

y=zip(l1,l2)

print(list(y))

[(1, 4), (3, 7), (6, 9)]

In [15]:
s1="123"
s2="abc"
b=zip(s1,s2)

print(dict(b))

{'1': 'a', '2': 'b', '3': 'c'}

In [16]:
r1=range(1,5)
r2=range(5,10)

c=zip(r1,r2)
print(tuple(c))

((1, 5), (2, 6), (3, 7), (4, 8))

In [17]:
names=["prince","rajat","pawan"]
age=[25,38]
#cities=["india","srilanka","bhutan"]

In [18]:
z=zip(names,age)

print(dict(z))

{'prince': 25, 'rajat': 38}

In [19]:
names=["prince","rajat","pawan"]
age=[25,38]
cities=["india","srilanka","bhutan"]

In [24]:
z1=zip(names,age,cities)
print(tuple(z1))

(('prince', 25, 'india'), ('rajat', 38, 'srilanka'))

In [26]:
# Enumerate
names=["prince","rajat","pawan"]
for i,j in  enumerate (names):
    print(i,j)

0 prince
1 rajat
2 pawan

In [29]:
names=("prince","rajat","pawan")
for index,ele in  enumerate (names):
    print(index,ele)

0 prince
1 rajat
2 pawan

In [30]:
names=("prince","rajat","pawan")
for index,ele in  enumerate (names,start=1):
    print(index,ele)

1 prince
2 rajat
3 pawan

In [33]:
items={"a":2,"b":4,"c":6}
for key,value in items.items():
    print(key,value)

a 2
b 4
c 6

In [34]:
items={"a":2,"b":4,"c":6}
for index,(key,value) in enumerate(items.items()):
    
    print(index,key,value)

0 a 2
1 b 4
2 c 6

## Del vs None

In [35]:
x=5
x

5

In [36]:
del x
print(x)

NameError: name 'x' is not defined

In [39]:
l=[1,2,3,4]

del l[1]

In [40]:
l

[1, 3, 4]

In [48]:
x={'a':1,'b':5,'c':7}
del x

x

NameError: name 'x' is not defined

In [50]:
x={'a':1,'b':5,'c':7}
del x['b']
x

{'a': 1, 'c': 7}

In [55]:
# None:it is data type

x=None
print(x)
type(x)

None

NoneType

In [56]:
x="aariz"
print(x)
type(x)

aariz

str

In [57]:
x=None
if x is None:
    print("x is none now")
    
else:
    print("x is not none")

x is none now

In [58]:
x=True
if x is None:
    print("x is none now")
    
else:
    print("x is not none")

x is not none

## list theory question

In [61]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing element 5
print(matrix[1][1])

5

In [64]:
print(matrix[1][2])

6

In [ ]:
print(matrix[1][1])

In [65]:
print(matrix[2][0])

7

In [70]:
for row in matrix:
    for element in row:
        print(element, end=' ')

1 2 3 4 5 6 7 8 9

In [71]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

## List question

## Reverse a List

Problem: Write a Python function that reverses a list without using the reversed() function.

In [81]:
l=[1,2,3,4,5]

In [82]:
l

[1, 2, 3, 4, 5]

In [83]:
l[::-1]

[5, 4, 3, 2, 1]

In [84]:
def reverse(l):
    return l[::-1]
reverse(l)

[5, 4, 3, 2, 1]

# Check for Duplicates

Problem: Write a Python function that checks whether a list contains any duplicates.

In [85]:
l=[2,3,4,5,6]
l

[2, 3, 4, 5, 6]

In [86]:
def duplication(l):
    return len(l)

duplication(l)

5

In [87]:
def duplication(l):
    return len(set(l))

duplication(l)

5

In [88]:
l=[1,2,3,4,5,1,2,3,4,5,6,4,343,4343]

def duplication(l):
    return len(set(l)) 

duplication(l)

8

In [89]:
l=[1,2,3,4,5,1,2,3,4,5,6,4,343,4343]

def duplication(l):
    return len(set(l)) ==len(l)

duplication(l)

False

# Rotate a List

Problem: Write a Python function that rotates a list to the right by k steps.

In [90]:
l1=[1,2,3,4,5,]

In [92]:
def rotate_list(l1,k):
    return l1[-k:]
rotate_list(l1,2)

[4, 5]

In [93]:
def rotate_list(l1,k):
    return  l1[:-k]
rotate_list(l1,2)

[1, 2, 3]

In [94]:
def rotate_list(l1,k):
    return l1[-k:]+l1[:-k]
rotate_list(l1,2)

[4, 5, 1, 2, 3]

In [95]:
def rotate_list(l1,k):
    return l1[-k:]+l1[:-k]
rotate_list(l1,3)

[3, 4, 5, 1, 2]

# Split a List into Chunks

Problem: Write a Python function that splits a list into chunks of size n.

In [101]:
l1
for i in range(0,len(l1)):
    print(l1[i])

1
2
3
4
5

In [102]:
l1
for i in range(0,len(l1),2):
    print(l1[i])

1
3
5

In [105]:
l1
chunks=[]
for i in range(0,len(l1),2):
    chunk=l1[i:i+2]
    chunks.append(chunk)
    
print(chunks)

[[1, 2], [3, 4], [5]]

In [107]:
l1
def chunk_list(l1,n):
    chunks=[]
    for i in range(0,len(l1),2):
        chunk=l1[i:i+2]
        chunks.append(chunk)
        
    return chunks
    
chunk_list(l1,2)

[[1, 2], [3, 4], [5]]

# Remove Duplicates from a List

Question: Given a list, remove the duplicates without using any additional data structures and return the list in the original order.

In [111]:
l1=[1,2,3,4,3,2,4,5,6,5,9,9,1,1,3,6,5,4]

In [112]:
def remove (l1):
    i=0
    while i <len(l1):
        if l1.count(l1[i])>1:
            l1.remove(l1[i])
            
        else:
            i+=1
        return l1
remove(l1)

[2, 3, 4, 3, 2, 4, 5, 6, 5, 9, 9, 1, 1, 3, 6, 5, 4]