In [1]:
print("beta tum badmashi na karo!")

beta tum badmashi na karo!

## Creating a tuple using parantheses

In [2]:
t=(1,23,4,5,8,9)

In [3]:
type(t)

tuple

In [5]:
l=[1,2,3,4,]
l[0]=5
l

[5, 2, 3, 4]

In [6]:
t=(1,23,4,5,8,9)
t(0)=5
t

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (961605102.py, line 2)

In [9]:
t=(1,2,3,34,"Aariz",True,2+3j,'e')
t

(1, 2, 3, 34, 'Aariz', True, (2+3j), 'e')

In [12]:
t[4]

'Aariz'

## Creating tuple without parantheses(tuple packing)

In [13]:
t=12,3,4,5,6,

type(t)

tuple

## creating a tuple using the tuple() constructor

In [14]:
l

[5, 2, 3, 4]

In [17]:
t1=tuple([1,2,3,4])

type(t1)

tuple

# creating empty tuple

In [18]:
et=()

In [19]:
type(et)

tuple

In [20]:
len(et)

0

In [21]:
et1=(1,)

type(et1)

len(et1)

1

## creating nested tuple

In [22]:
nes=((1,2),(3,4),(5,6))

type(nes)

tuple

In [23]:
len(nes)

3

In [24]:
nes[1][0]

3

In [25]:
nes[2][1]

6

## Tuples as Dictionary: 

since Tuples are immutable, they can be used as key in dictionaries,whereas list can not

In [27]:
dict={1:4,2:5,3:6}

In [28]:
dict1={(1,2):"a",(3,4):"b"}

In [30]:
data={("prince","rajat"):"manager",("rajat","aariz"):"employee"}

 Returning Multiple Values from a Function: Scenario: Tuples are often used to return multiple values from a function. Since tuples are immutable, they ensure that the returned data remains consistent and protected from unintended changes.

In [31]:
def my_func():
    name ="Aariz",
    age =33,
    grade = "a"
    return name,age,grade 

my_func()

(('Aariz',), (33,), 'a')

In [32]:
type(my_func())

tuple

## Tuple Packing and Unpacking

In [59]:
student= "aariz", 25, "A" # packing

In [60]:
name, age, grade = student

In [45]:
def student():
    name="aariz"
    age=28
    grade="a"
    return name , age, grade
student()

('aariz', 28, 'a')

In [48]:
a=5
b=6
a,b=b,a
a
b

5

In [49]:
a

6

In [51]:
nes=((1,2),(3,4),(5,6))

In [52]:
nes[1][1]

4

In [54]:
nes[-2][-1]

4

In [56]:
nes[0:2:1]

((1, 2), (3, 4))

In [61]:
nes[0:2:-1]

()

In [62]:
nes[2:0:-1]

((5, 6), (3, 4))

In [63]:
t=1,2,23,534,3434,43,7

In [64]:
t[5]

43

## List Vs Tuple

In [65]:
#mutable
l =[1,23,4]

In [66]:
l[0]=8

In [67]:
l

[8, 23, 4]

In [68]:
t =1,2,4

In [69]:
t[1]=9

TypeError: 'tuple' object does not support item assignment

Performance

    List: Slower due to extra functionality like mutability.
    Tuple: Faster due to immutability, making them more memory efficient.

In [70]:
import timeit

print(timeit.timeit(stmt="[1, 2, 3, 4, 5]", number=1000000))

print(timeit.timeit(stmt="(1, 2, 3, 4, 5)", number=1000000))

0.13882309990003705
0.02719029993750155


# 4. Functions and Methods

    List: Has more built-in methods like append(), remove(), pop(), etc.
    Tuple: Has fewer built-in methods (e.g., count(), index()).

In [72]:
l.append(5)

In [73]:
l

[8, 23, 4, 5]

In [74]:
t.count(1)

1

# Usage

    List: Used when you need a collection that can be modified (e.g., adding, removing, or updating elements).
    Tuple: Used when you need a collection that should not change (e.g., fixed data, dictionary keys).

## Memory Usage

    List: Consumes more memory because of the extra overhead for mutability.
    Tuple: Consumes less memory due to immutability.

In [75]:
import sys
l=[1,2,3,4,5]
sys.getsizeof(l)

104

In [77]:
import sys
t=(1,2,3,4,5)
sys.getsizeof(t)

80

## Tuples method and functions

# Methods

Tuples have limited methods due to their immutability:

In [78]:
t = (1,2,3,3,4,5)
t.count(3)

2

In [79]:
t.count(6)

0

In [80]:
t = (1,2,3,3,4,5)
t.index(3)

2

Operators and Functions

    Operators:

        Concatenation (+): Combines two tuples.

        Repetition (``): Repeats the elements of the tuple a given number of times.

        Membership (in): Checks if an element is in the tuple.

In [81]:
tuple1 = (1, 2)
tuple2 = (3, 4)

tuple1 +tuple2

(1, 2, 3, 4)

In [82]:
tuple1 * 3

(1, 2, 1, 2, 1, 2)

In [86]:
1 in tuple1

True

In [83]:
9 in tuple1

False

In [84]:
tuple1-tuple2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

# 

    Functions:

        len(): Returns the length of the tuple.

        max(): Returns the largest element.

        min(): Returns the smallest element.

        sum(): Returns the sum of elements.

        sorted(): Returns a new sorted list from elements in the tuple.

In [87]:
tuple1

(1, 2)

In [88]:
len(tuple1)

2

In [89]:
max(tuple1)

2

In [90]:
min(tuple1)

1

In [91]:
sorted(tuple1)

[1, 2]

In [92]:
sum(tuple1)

3

In [93]:
t=(2,32,4,9,4,1,10,11)

In [94]:
sorted(t)

[1, 2, 4, 4, 9, 10, 11, 32]

In [95]:
type(sorted(t))

list

In [99]:
a,*b,c=(1,2,3,4,5,6)

In [100]:
a

1

In [101]:
c

6

In [103]:

b

[2, 3, 4, 5]

In [104]:
my_tuple= "name", "age","gender"
a,b,c=my_tuple

In [105]:
a

'name'

In [106]:
b

'age'

In [107]:
c

'gender'

In [108]:
my_tuple=(1,2,3,4,5)

my_list=[1,2,3,4,5]

In [109]:
print(sys.getsizeof(my_tuple))
print(sys.getsizeof(my_list))

80
104

## Tuples coding question

Question: Write a function that returns the first and last elements of a tuple.

In [110]:
tuple=(1,2,3,4,5,6)

def letters(t):
    return t[0],t[-1]

letters(tuple)

(1, 6)

Question: Given a tuple of tuples, each containing two integers, write a function that returns a tuple with the sums of each inner tuple.

In [2]:
def top(t):
    return tuple(sum(i) for i in t)

tup_tip =((1,2),(3,4),(6,7))
top(tup_tip)

(3, 7, 13)

Question: Given a tuple with multiple elements, write a function that finds and returns the tuple with the maximum sum of its elements.

In [116]:
def max_tuple(t):
    return max(t, key=lambda x: sum(x))
     

tuple_list = [(1, 2, 3), (4, 5), (6, 7, 8, 9), (10,)]

max_tuple(tuple_list)

(6, 7, 8, 9)

Question: Write a function that takes a tuple of strings and returns a tuple where each string is reversed.

In [127]:
my_tuple=('banana','apple','cherry')

my_tuple[::-1]

('cherry', 'apple', 'banana')

In [3]:
def reve(t):
    return tuple(i[::-1] for i in t)

my_tuple = ('apple', 'banana', 'cherry')
reve(my_tuple)

('elppa', 'ananab', 'yrrehc')